{% extends 'base.html.twig' %}

{% block title %}Create template
{% endblock %}

{% block body %}
	<section data-controller="form" class="p-6 bg-gray-100">
		<h1 class="text-2xl font-bold mb-4 text-primary">Create a new template</h1>
		<div class="flex">
			<div class="w-1/3 pr-4 ml-10">
				<p class="mb-2 text-primary text-xl font-bold mb-6">Template</p>
				<a href="/home" class=" rounded-lg border border-secondary px-4 py-2 text-primary font-bold">Changer de template</a>

				<div id="templateEditPane" class="tab-pane bg-secondary p-4 rounded shadow mt-5">
					<div class="flex">
						<button id="templateEditBtn" class="bg-clear text-primary py-2 px-4 rounded w-1/2 selected">Template Edit</button>
						<button id="elementEditBtn" class="bg-clear text-primary py-2 px-4 rounded w-1/2">Element Edit</button>
					</div>
					{{ form(form) }}
				</div>
				<div id="elementEditPane" class="tab-pane bg-secondary p-4 rounded shadow hidden mt-5">
					<div class="flex">
						<button id="templateEditBtn1" class="bg-clear text-primary py-2 px-4 rounded w-1/2 ">Template Edit</button>
						<button id="elementEditBtn1" class="bg-clear text-primary py-2 px-4 rounded w-1/2 selected">Element Edit</button>
					</div>
					<div>
						<turbo-frame
							id="formContainer" data-form-target="formContainer" class="w-full"><!-- Le formulaire sera injecté ici -->
						</turbo-frame>
					</div>
				</div>
			</div>

			<div class="w-2/3 pl-4">
				<div class="flex mb-4 justify-around">
					<button data-action="click->form#loadForm" data-url="{{ path('form_image') }}" class="bg-orangeCustom
					 text-white py-1 px-2 rounded mb-2 flex flex-col items-center">
						<img src="{{ asset('images/image.png') }}" alt="Ajouter Image" class="h-14 mb-1"> <!-- Ajuster la hauteur de l'image -->
						Ajouter Image
					</button>


					<button data-action="click->form#loadForm" data-url="{{ path('form_qrcode') }}" class="bg-orangeCustom text-white py-1 px-2 rounded mb-2 flex flex-col items-center">
						<img src="{{ asset('images/qrCode.png') }}" alt="Ajouter QrCode" class="h-14 mb-1"> <!-- Image ajoutée au-dessus -->
						Ajouter QR Code
					</button>
					<button data-action="click->form#loadForm" data-url="{{ path('form_text') }}" class="bg-orangeCustom text-white py-1 px-2 rounded mb-2 flex flex-col items-center">
						<img src="{{ asset('images/text.png') }}" alt="Ajouter Text" class="h-14 mb-1"> <!-- Image ajoutée au-dessus -->
						Ajouter Texte
					</button>
				</div>
				<div
					id="canvas" data-controller="element-manager" class="bg-white p-4 rounded shadow"><!-- Zone de drop pour le canvas -->
				</div>
			</div>
		</div>
			<!-- Fermeture de la balise .flex -->
		</section>

	<style>
		.selected {
			background-color: #18534F;
			color: white;
		}
	</style>

		<script>
			var templateEditBtn1 = document.getElementById('templateEditBtn1');
			var elementEditBtn1 = document.getElementById('elementEditBtn1');

			var templateEditBtn = document.getElementById('templateEditBtn');
			var elementEditBtn = document.getElementById('elementEditBtn');
			var templateEditPane = document.getElementById('templateEditPane');
			var elementEditPane = document.getElementById('elementEditPane');

			templateEditBtn1.addEventListener('click', function () {
				templateEditPane.classList.remove('hidden');
				elementEditPane.classList.add('hidden');
				templateEditBtn.classList.add('selected');
				elementEditBtn.classList.remove('selected');
			});
			elementEditBtn.addEventListener('click', function () {
				elementEditPane.classList.remove('hidden');
				templateEditPane.classList.add('hidden');
				elementEditBtn.classList.add('selected');
				templateEditBtn.classList.remove('selected');
			});

			templateEditBtn.click();


	</script>
	<style>
		.slider {
			-webkit-appearance: none;
			appearance: none;
			width: 100%;
			cursor: pointer;
			outline: none;
			overflow: hidden;
			border-radius: 16px;
		}

		.slider::-webkit-slider-runnable-track {
			height: 15px;
			background: #fff;
			border-radius: 16px;
		}

		.slider::-moz-range-track {
			height: 15px;
			background: #fff;
			border-radius: 16px;
		}

		.slider::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			height: 15px;
			width: 15px;
			background-color: #fff;
			border-radius: 50%;
			border: 2px solid #18534F;
			box-shadow: -407px 0 0 400px #18534F;
		}

		.slider::-moz-range-thumb {
			height: 15px;
			width: 15px;
			background-color: #18534F;
			border-radius: 50%;
			border: 1px solid #18534F;
			box-shadow: -407px 0 0 400px #18534F;
		}

		output {
			color: #fff;
		}

	</style>
	{% endblock %}
